{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container-fluid mt-4">
    <h2 class="text-muted"><i class="fas fa-search"></i> Resultados</h2>
        
    <div class="row justify-content-center">
      <div class="col-12">
          <div class="row">
              {% if results %}
              {% for movie in results %}
                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 my-2">
                   <a class="link-light text-decoration-none" href="/{{ type }}/{{ movie.slug }}">
                    <div class="card bg-transparent border-0 text-center p-2 mx-auto" style='width: 16rem;'>
                    {% if movie.thumbnail %}
                    <img 
                    src="{{ movie.thumbnail.url }}" 
                    style="width: 100%;" class="card-img-top rounded-2" 
                    alt="{{ movie.title }}">
                    {% else %}
                    No thumnail found for {{ movie.title }}, please upload an image.
                    {% endif %}
                    <div class="card-body">                                   
                        <p class="card-text">{{ movie.title }} ({{movie.date}})</p>
                    </div>                               
                    </div>
                  </a>
                </div>
              {% endfor %}
              {% else %}
              <p class="text-white">No se encontraron resultados.</p>
              {% endif %}              
        </div>
    </div>
</div>


{% endblock content %}